t05/nota-05.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="nota" type="Tnota" />

  <xs:complexType name="Tnota">
    <xs:sequence>
      <xs:element name="fecha" type="xs:date" />
      <xs:element name="prioridad" minOccurs="0" type="xs:integer" />
      <xs:element name="de" type="xs:string" />
      <xs:element name="para" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="tema" type="xs:string" />
      <xs:element name="texto" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="idioma" type="xs:string"/>
    <xs:attribute name="creado" type="xs:date"/>
  </xs:complexType>

</xs:schema>